<%= simple_form_for [@wallet, operation] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :holding, label: "Holding" %>
    <%= f.input :quantity, label: "Quantity" %>
    <%= f.input :price, label: "Price per Unit (R$)" %>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Create Operation", class: "btn btn-flat m-1" %>
    <%= link_to "Cancel", wallet_path(@wallet), class: "btn btn-ghost m-1" %>
  </div>
<% end %>
