<p>Wallet</p>

<%= @wallet.name %>
<% @wallet.operations.each do |operation| %>
  <ul>
    <li> Initial Price: <%= operation.initial_price %></li>
    <li> Quantity: <%= operation.quantity %></li>
  </ul>
<% end %>

<div>
  <%= link_to "Edit this wallet", edit_wallet_path(@wallet) %> |
  <%= link_to "Back to wallets", wallets_path %>

<%= link_to "add operation", new_wallet_operation_path(@wallet)%>
  <%= button_to "Destroy this wallet", @wallet, method: :delete %>
</div>
