
<h1 class="wallet-title text-center"><%= @wallet.name %></h1>
<div class="container">
    <div class="d-flex justify-content-end">
       <%= link_to "Back to wallets", wallets_path, class: "btn btn-flat m-2 mb-5" %>
    </div>
  <%= render "layouts/overview" %>
  <div class="wallet-card-container wallet-card">
  <div class="wallet mt-3">
    <h2 class="ms-5 mb-5">Assets</h2>
    <div class="header d-flex justify-content-between">
      <div class="column">Name</div>
      <div class= "column">Price</div>
      <div class="column">Avg. Price</div>
      <div class="column">Quantity</div>

      <div class="column">Actions</div>
    </div>

    <% @wallet.operations.each do |operation| %>
      <div class="operation d-flex justify-content-between align-items-center">
        <div class="column"><%= operation.holding.name %></div>
        <div class="column">R$ <%= number_with_precision(find_full_holding_info(operation.holding.abreviation)["PRICE"], precision: 2) %></div>
        <div class="column">R$ <%= operation.avg_buy_price %></div>
        <div class="column"><%= operation.quantity %></div>

        <div class="column actions">
          <%= link_to  new_wallet_operation_path(@wallet), class: "btn btn-action btn-sm" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
          <%= link_to edit_operation_path(operation), class: "btn btn-action btn-sm" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to operation_path(operation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-action btn-sm" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div>
    <%= link_to "Add new operation", new_wallet_operation_path(@wallet), class: "btn btn-wallet mb-5"%>
    <%= link_to "Edit this wallet", edit_wallet_path(@wallet), class: "btn btn-wallet mb-5"%>

  </div>
</div>
