<div class="trending-assets-section p-5">
  <h1 class="mb-5">Trending Now</h1>
  <div class="container">
    <div class="column">
      <h2>Cryptocurrencies</h2>
      <div class="card">
      <ul class="list-group">
        <% @holdings.where(asset_type: "crypto").last(5).each do |holding|%>
          <li class="info-grid p-2">
           <%= holding.name %>
            <span class="me-3">$ <%= number_with_precision(holding.current_price, precision: 2) %></span>
          <% percentage_change = holding.find_percentage_holding_info %>
            <span class="<%= percentage_change < 0 ? 'performer-color-down' : 'performer-color-up' %>">
                <%= number_with_precision(percentage_change, precision: 2) %>%
             </span>
          </li>
        <% end %>
              </ul>
      </div>
      <!-- Additional cards for cryptocurrencies -->
    </div>
    <div class="column">
      <h2>Stocks</h2>
      <div class="card">
      <ul class="list-group">
        <% @holdings.where(asset_type: "fiat").sample(5).each do |holding|%>
        <li class="info-grid p-2">
          <%= holding.name %>
            <span class="me-3">$ <%= number_with_precision(holding.current_price, precision: 2) %></span>
            <% percentage_change = holding.find_percentage_holding_info %>
              <span class="<%= percentage_change < 0 ? 'performer-color-down' : 'performer-color-up' %>">
                  <%= number_with_precision(percentage_change, precision: 2) %>%
              </span>
          </li>
        <% end %>
        </ul>
      </div>
      <!-- Additional cards for stocks -->
    </div>
  </div>
</div>
