<div class="trending-assets-section p-5">
  <h1 class="mb-5">Trending Now</h1>
  <div class="container">
    <div class="column">
      <h2>Cryptocurrencies</h2>
      <div class="card">
        <% @holdings.where(asset_type: "crypto").first(5).each do |holding|%>
         <% symbols = ["ðŸ“ˆ ", "ðŸ”¥ ", "ðŸŽ‡ ", "â‡ï¸ "] %>
           <ul class="d-flex justify-content-between p-0"><ol><%= symbols.sample %><%= holding.name %> </ol>
        <ol>$ <%= holding.current_price %></ol>
        </ul>
        <% end %>
      </div>
      <!-- Additional cards for cryptocurrencies -->
    </div>
    <div class="column">
      <h2>Stocks</h2>
      <div class="card">
        <% @holdings.where(asset_type: "fiat").first(5).each do |holding|%>
        <% symbols = ["ðŸ”¥ ", "ðŸ’¯ ", "ðŸ’¥ ", "ðŸ’° ", "ðŸ’´ "] %>
        <ul class="d-flex justify-content-between p-0"><ol><%= symbols.sample %><%= holding.name %> </ol>
        <ol>$ <%= holding.current_price %></ol>
        </ul>
        <% end %>
      </div>
      <!-- Additional cards for stocks -->
    </div>
  </div>
</div>
