
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="new-wallet-card">
        <div class="new-walletcard-body">
          <h1 class="new-wallet-card-title text-center"> Edit Operation</h1>
            <%= simple_form_for @operation do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <%= f.association :holding %>
                <%= f.input :quantity %>
                <%= f.input :initial_price %>
              </div>

              <div class="d-flex justify-content-around">
               <%= link_to "back to my wallet", wallet_path(@operation.wallet), class:"btn btn-outline-danger mt-3 btn-return" %>
              <div class="form-actions">
                <%= f.button :submit, class:"btn btn-flat mt-3" do %>
                <% end %>
              </div>
              </div>
            <%end%>
       </div>
    </div>
  </div>
  </div>
</div>
