<h1>Operations#new</h1>
<p>Find me in app/views/operations/new.html.erb</p>
<%= simple_form_for [@wallet, @operation] do |f| %>
  <%= f.association :holding %>
  <%= f.input :quantity %>
  <%= f.input :avg_buy_price, label: "Price"%>
  <%= f.submit %>
<% end %>
